.header-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 10px;
}

.top-btns-container {
  display: flex;
  align-items: center;
}

.primary-btn {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background-color: var(--color-surface);
  color: var(--main-color);
  border: 2px solid var(--color-border);
}

.primary-btn div {
  background-color: var(--color-primary);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;

  transition: all 0.15s ease-in-out;
}

.primary-btn:hover div {
  background-color: var(--color-primary-hover);
}

.primary-btn:active div {
  scale: 0.9;
}

.primary-btn img {
  width: 100%;
  height: 100%;
}

.search-bar-wrapper {
  width: 100%;
  position: relative;
}

.search-bar-wrapper input {
  border: 0;
  outline: 0;
  width: 100%;
  min-width: none;

  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: 20px 12px;
  border-radius: 40px 100px 100px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background-color: var(--color-surface);
  color: var(--color-text);
  border: 2px solid var(--color-border);
}

.search-bar-wrapper input::placeholder {
  color: var(--color-text-muted);
}

.search-bar-wrapper img {
  position: absolute;
  right: 20px;
  top: 25%;
  height: 50%;
}