.menu-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  flex: 1 1 0;
  width: 0;
  box-sizing: border-box;
  font-size: 20px;
  border: none;
  background-color: var(--main-bg);
  color: var(--main-color);
  display: inline;
}

#input::placeholder {
  color: var(--main-color);
}

#input:focus {
  outline: 0;
}

.menu-icon {
  width: 90%;
  height: 90%;
}

.menu-btn {
  background-color: var(--main-bg);
  color: var(--main-color);
  box-shadow:  0 0 8px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  
  display: flex;
  justify-content: center;
  align-items: center
}

.menu-btn:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.96);
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--gradient-color-to-left);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.menu-btn::before {
  background: var(--gradient-color-to-right);
  top: -5px;
  transform-origin: left;
}

.menu-btn:hover::after,
.menu-btn:hover::before {
  transform: scaleX(1);
}