/* The switch - the box around the slider */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transition: 0.2s;
}

/* Hide default HTML checkbox */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-text);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: .4s;
  transition: box-shadow 0.15s, all 0.4s;
}

.slider:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: var(--color-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.theme-switch input:checked + .slider {
  background: var(--color-text);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: var(--color-bg);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}