@import "./colors.css";


/* =================================   
Fonts
================================= */

@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: var(--text-md);
  color: var(--color-text);
}
p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  font-weight: 700;
}

html {font-size: var(--text-md);} /* 16px */

h1 {font-size: var(--text-4xl); /* 36px */}

h2 {font-size: var(--text-3xl); /* 30px */}

h3 {font-size: var(--text-2xl); /* 24px */}

h4 {font-size: var(--text-xl); /* 20px */}

small {font-size: var(--text-lg); /* 18px */}
caption {font-size: var(--text-xs); /* 12px */}


:root {

  /* Font families */
  --font-body: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;


  /* Font weights */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;


  /* Font sizes */
  --text-xs: 12px;    /* 12px */
  --text-sm: 14px;   /* 14px */
  --text-md: 16px;       /* 16px */
  --text-lg: 18px;   /* 18px */
  --text-xl: 20px;    /* 20px */
  --text-2xl: 24px;    /* 24px */
  --text-3xl: 30px;  /* 30px */
  --text-4xl: 36px;   /* 36px */
  --text-5xl: 48px;      /* 48px */


  /* Line heights */
  --leading-tight: 1.2;
  --leading-normal: 1.5;
  --leading-relaxed: 1.75;


  /* Letter spacing */
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;

}